.row.justify-content-center {
    & .judulattendance {
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
        background-color: #f16c6c;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        
    }
}